{% extends "onlinestore/template.html" %}

{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
                <!--Producto 1-->
                <div class="col">
                    <h2 class="h2 text-success" style="font-weight: 700;">Tu Carrito</h2>
                    {% include 'messages.html' %}
                    <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Disponibles</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Descuento </th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for register in cart %}
                        <tr>
                            <td>
                                <a href="{% url 'product_detail' register.idproduct %}">
                                    <img src="{{ register.image.url }}" alt="{{ register.name }}" width="50" height="50">
                                </a>
                                {{ register.name }}
                            </td>
                            <td>{{ register.available_quantity }}</td>
                            <td>
                                <div class="quantity-container align-items-center">
                                    <a type="button" class="btn btn-secondary"href="{% url 'cart:reduce_one' register.idproduct%}">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <span style="padding-left: 5%; padding-right: 5%;">
                                        {{ register.product_units }}
                                    </span>
                                    {% if register.exceed %}
                                    {% else %}
                                    <a type="button" class="btn btn-primary" href="{% url 'cart:add_to_cart' register.idproduct%}">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    {% endif %}                      
                                </div>
                            </td>
                            <td>{{ register.subtotal }}</td>
                            {% if register.next_to_expire %}
                            <td>{{ register.discount }}</td>
                            <td>{{ register.total }}</td>
                            {% else %}
                            <td></td>
                            <td>{{ register.total }}</td>
                            {% endif %}
                            <td>
                                <a type="button" class="btn btn-danger"href="{% url 'cart:delete' register.idproduct%}">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mr-2">Subtotal: $ {{ subtotal }}</h4>
                        <h4 class="mr-2">Ahorras: $ {{ discount }}</h4>
                        <h3 class="mr-2">Total: $ {{ total }}</h3>
                        <a type="button" class="btn btn-success" href="{% url 'purchase:create_order'%}">Realizar Pedido</a>
                    </div>
                </div>
                 
                </div>
    </div>
</div>

{% endblock %}