{% extends "onlinestore/template.html" %}
{% block content %}
<div id="graphs">
    <!--
    <div id="chart-container">
        <h2 style="text-align: center;">Cantidades de cada producto</h2>
        <canvas id="myChart"></canvas>
    </div>
    <div id="chart-container">
        <h2 style="text-align: center;">Días restantes productos proximos a vencer</h2>
        <canvas id="piechart"></canvas>
    </div>
    <div id="chart-container">
        <h2 style="text-align: center;">Cantidad productos vendidos por categoría</h2>
        <canvas id="piecategory"></canvas>
    </div>
    -->
    <div id="text-container">
       <h2>Ventas totales: <p class="text-success">{{totalsales}}</p></h2>
    </div>
    <div id="text-containerdiscount">
        <h2>Ventas totales con descuento: <p class="text-success">{{totalsalesdiscount}}</p></h2>
     </div>
</div>

<!--
<script>



    const ctx = document.getElementById('myChart');
    const piechart = document.getElementById('piechart');
    const piecategory = document.getElementById('piecategory');

    const data1 = {
        labels: {{ labelsproducts| safe}},
    datasets: [{
        label: 'Cantidades de cada producto',
        data: {{ dataproducts| safe}},
            }
    ]
        };
    const data2 = {
        labels: {{ exp_prodname| safe}},
    datasets: [{
        label: 'Días restantes para vencer',
        data: {{ exp_proddate| safe}},
            }
    ]
        };
    const data3 = {
        labels: {{ categoryproduct| safe}},
        datasets: [{
        label: 'Productos por categoría',
        data: {{ soldproducts| safe}},
            }
    ]
        };

    const stackedBar = new Chart(ctx, {
        type: 'bar',
        data: data1,
        options: {
            scales: {
                x: {
                    stacked: false
                },
                y: {
                    stacked: false
                }
            }
        }
    });
    const piechart2 = new Chart(piechart, {
        type: 'polarArea',
        data: data2,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Días restantes productos proximos a vencer',
                    fullSize
                }
            }
        }
    });
    const piechartcategory = new Chart(piecategory, {
        type: 'polarArea',
        data: data3,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Categorías'
                }
            }
        }
    });


</script>
-->
{% endblock content %}