{% extends "onlinestore/template.html" %}

{% load static %}


{% block title %} Index {% endblock %}

{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/img/vendedor_barrio.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">¡¡Bienvenido a TendeUs!!</h1>
                                <h3 class="h2">La esencia del barrio, ahora a un clic de distancia... ¡<strong>TendeUs</strong>, donde el vecino es tu vendedor!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for product in products %}
            <div class="carousel-item inner">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last" style="width: 40%;">
                            <a href="{% url 'product_detail' product.idproduct %}">
                                <button style="width: 100%; height: 100%">
                                    <img class="img-fluid" style="width: 100%; height: 100%" src="{{ product.image.url }}" alt="">
                                </button>
                            </a>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{product.name}}</b></h1>
                                {% if product.brand %}
                                <h3 class="h2">{{product.brand}}</h3>
                                {% endif %}
                                <p>
                                    {{product.description}}
                                </p>
                                <h6>Unidades disponibles: {{ product.available_quantity }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorias destacadas</h1>
                <p>
                    Estas han sido las categorias más vendidas en el ultimo mes
                </p>
            </div>
        </div>
        <div class="row">
            {% for c in categories %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'category' c.0.idcategory %}"><img src="{{ c.1.image.url }}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3" style="text-transform: uppercase;">{{ c.0.name }}</h5>
                <p class="text-center"><a href="{% url 'category' c.0.idcategory %}" class="btn btn-success">Ir a comprar</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Productos proximos a expirar</h1>
                    <p>
                        Los siguientes productos tienen una fecha cercana de expiración y por tanto se ofrecen con cierto descuento.
                    </p>
                </div>
                <div style="text-align: end;">
                    <a class="h4 text-success" href="{% url 'offers' %}">
                        Ver todos>>
                    </a>
                </div>
            </div>
            <div class="row">
                {% for product in expiration %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.idproduct %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            {% if product.next_to_expire %}
                            <p
                                class="text-success text-right"
                                style="text-align: end;">
                                <i class="fas fa-exclamation-triangle"></i> Expira en {{product.next_to_expire.0}} días
                            </p>
                            <h6 class="text-success text-right d-flex justify-content-between"><span style="text-align: right; text-decoration:line-through">${{product.sale_price}}</span><span class="float-left;"style="color:#56ae6c; font-weight: 700;">${{product.next_to_expire.1}}</span class="float-right"></h6>
                            {% else %}
                            <h6 class="text-success text-right mb-0" style="color:#56ae6c; text-align: end;"> ${{ product.sale_price }}</h6>
                            {% endif %}
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{product.name}}</a>
                            <p class="card-text">
                                {{product.description}}
                            </p>
                            <p class="text-muted">{{product.quantity_sold}} unidades vendidas</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- End Featured Product -->

    {% endblock %}

</html>