{% extends "onlinestore/template.html" %}

{% load static %}

{% block title %} Detalle Producto {% endblock %}

{% block content %}
<body>
    <div class="card mb-3">
        <div class="row g-0 justify-content-center">
            <div class="col-md-4 d-flex align-items-center" style="border: 4px solid  #59ab6e; max-height: 1300px;">
                <img src="{{ product.image.url }}" class="rounded-start" style=" width: 100%; padding: 20px;" alt="...">
            </div>
            <div class="col-md-8 border" style="max-width: 400px; ">
                <div class="card-body">
                    <div class="row justify-content-between" style="padding:20px">
                        <div class="col">
                            <a class="btn btn-success text-white float-right" href="{% url 'product_detail' product.idproduct %}"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="col">
                            <p class="card-text" style="font-size: 1.0rem;">{{ product.quantity_sold }} vendidos</p>
                        </div>
                    </div>                    
                    <h5 class="card-title" style="font-size: 1.9rem; font-weight: bold; padding: 20px;">{{ product.name }}</h5>
                    <h6 class="card-text" style="font-size: 1.1rem; padding-left: 20px;">
                        Marca: <span style="text-transform: uppercase;">{{ product.brand }}</span>
                    </h6> 
                    {% if product.next_to_expire %}
                    <p
                        class="text-success text-left"
                        style="text-align: end;">
                        <i class="fas fa-exclamation-triangle"></i> Expira en {{product.next_to_expire.0}} días <br>
                        ({{product.expiration_date}})
                    </p>
                    <h6 class="text-succes text-right d-flex justify-content-between"><span style="padding-left: 20px;font-size: 1.8rem;text-align: right; text-decoration:line-through">${{product.sale_price}}</span><span class="float-left;"style="font-size: 1.8rem;color:#56ae6c; font-weight: 400;">${{product.next_to_expire.1}}</span class="float-right"></h6>
                    {% else %}
                    <h6 class="text-success text-right mb-0" style="font-size: 1.8rem;color:#56ae6c; text-align: end;"> ${{ product.sale_price }}</h6>
                    {% endif %}
                    <h6 class="card-text" style="font-size: 1.2rem; font-weight: 400; padding-left: 20px; padding-top:70px">Unidades disponibles: {{ product.available_quantity }}
                    <div class="d-grid gap-2" style="padding-top: 20px;">
                        <button type="button" class="btn btn-success btn-lg btn-block" style="height: 50px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Comprar ahora
                        </button>
                        <button type="button" class="btn btn-lg btn-block " style="background-color:white; border-color: #59ab6e; color:#59ab6e; height: 50px; border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Añadir a carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0 justify-content-center">
            <div class="card" style="width: 63%;">
                <div class="card-body">
                  <h3 class="card-title" style="padding: 20px;">Descripción del producto</h3>
                  <h6 class="card-text"style="padding: 20px;">{{ product.description }}</h6>
                  {% if product.expiration_date %}
                  {% if product.next_to_expire %}
                  <h6 class="card-text"style="padding: 20px; ">Fecha de expiración: <span style="color: #59ab6e;">{{ product.expiration_date }}</span></h6>
                  {% else %}
                  <h6 class="card-text"style="padding: 20px;">Fecha de expiración: {{ product.expiration_date }}</h6>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>