{% extends "onlinestore/template.html" %}

{% load static %}

{% block title %} Shop {% endblock %}

{% block content %}
<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <a href="{% url 'shop' %}" style="text-decoration: none; color: black;"><h1 class="h2 pb-4">Categorías</h1></a>
            <ul style="list-style-type: none; list-style: none;">
                {% for categorie in categories %}
                <li class="pb-3" style="text-decoration: none; list-style: none;">
                    <a class="collapsed d-flex justify-content-between h3" style="color:black; text-transform: uppercase; text-decoration: none;" href="{% url 'category' categorie.idcategory %}">
                        {{ categorie.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <!--
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
                        </li>
                    </ul>
                </div>
                -->
                <form method="GET">
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <div class="input-group rounded">
                                <input type="text" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                                    aria-describedby="search-addon" name="searchProduct"/>
                                <!--<button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>-->
                                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                {% for product in products %}
                <!--Producto 1-->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <!--Botones para implementar después, favoritos, visualizar, carrito-->
                                <ul class="list-unstyled">
                                    
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i
                                                class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'product_detail' product.idproduct %}"><i
                                                class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'cart:add_to_cart' product.idproduct %}"><i
                                                    class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if product.next_to_expire %}
                            <p
                                class="text-success text-right"
                                style="text-align: end;">
                                <i class="fas fa-exclamation-triangle"></i> Expira en {{product.next_to_expire.0}} días
                        </p>
                            <h6 class="text-succes text-right d-flex justify-content-between"><span style="text-align: right; text-decoration:line-through">${{product.sale_price}}</span><span class="float-left;"style="color:#167435; font-weight: 700;">${{product.next_to_expire.1}}</span class="float-right"></h6>
                            {% else %}
                            <h6 class="text-success text-right mb-0" style="text-align: end;"> ${{ product.sale_price }}</h6>
                            {% endif %}
                            <a href="{% url 'product_detail' product.idproduct %}" class="h3 text-decoration-none">{{ product.name }}</a>
                            <ul class="w-100 list-unstyled d-block justify-content-between mb-1 mt-1">
                                <li hidden><strong>{{ product.category_idcategory }}</strong></li>
                                <li><b>Marca: </b><span style="text-transform: capitalize;">{{ product.brand }}</span></li>
                                
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
            <!-- DEBUG: Imprimir contenido del diccionario -->

                            <!--
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        
                                    </li>
                                    
                                </ul>
                                -->
                            <p class="mb-0 text-right" style="color: #56ae6c;"><strong>Cantidad: </strong>{{ product.available_quantity }}</p>
                        </div>
                    </div>
                </div>
                <!--Finaliza producto 1-->
                {% endfor %}
            </div>
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                            tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                            href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
<!-- Start Brands -->
<!--End Brands-->
{% endblock %}

</html>